@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo BookSphere.JPG" />
    <h2>Here you can check every book you think about. This is the "Book Kingdom"!</h2>
</div>
