@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to</h2>
    <h1>BookSphere</h1>
    <p>Here you can read as much books as you want. This is the "Reading Palace"!</p>
</div>
