@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo BookSphere.JPG" />
    <h2>Here you can read as much books as you want. This is the "Reading Palace"!</h2>
</div>
